.container{
    width: 80%;
    background-color: white;
    margin-left: 10%;
}

.logo{
    width: 58%;
    float:left;
    background-color: gray;
    color: yellow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    font-size: 44.5px;
    font-weight: bolder;
    padding-left: 2%;
}
.nav{
    width: 40%;
    float: right;
    background-color: yellow;
}
.nav li{
    display: inline;
    padding: 7%;
}
.nav li{
    display: inline;
    padding: 7%;
}
.nav li a{
    text-decoration: none;
    color:gray;
    font-size: 18px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
body{
    background-color: lightgray;color: black;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: white url(../img/CAPA-1.png);
    background-repeat:no-repeat;
    background-size: 50%;
}

